*{
    box-sizing: border-box;
}
html,body{
     width: 100%; 
    height: 100%;
    margin:0;
    
    font-family: 'Roboto', sans-serif;
}
body{
    animation: change 10s infinite; 
}
@keyframes change{
    0%{background-color: #1abc9c;}
    25%{background-color:#2ecc71;}
    50%{background-color:#3498db;}
    75%{background-color:#9b59b6;}
    100%{background-color:#e74c3c;}
}
.shopping-cart{
    /* width:750px; */
    width: 90%;
    height: 740px;
    margin: 40px auto;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 10);
    border-radius: 6px;

    display: flex;
    flex-direction: column;
}
.title{
    height: 60px;
    border-bottom: 1px solid #E1E8EE;
    padding: 20px 30px;
    color: #5E6977;
    font-size: 25px;
    font-weight: 400;
    clear:both;
}
.checkout{
    height: 60px;
    border-bottom: 1px solid #E1E8EE;
    padding: 20px 30px;
    color: #411f2d;
    font-size: 16px;
    font-weight: 400;
    text-align: right;
}
.checkout a:link, .checkout a:visited{
    color: #411f2d;
}
.btn {
    font-weight: 400;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    padding: 0.5rem 1rem;
    background-color: #FFC27F;
    text-decoration: none;
}

.product{
    padding: 20px 30px;
    height: 120px;
    display: flex;  
    border-top: 1px solid #E1E8EE;
    border-bottom: 1px solid #E1E8EE;
}

/* .product:nth-child(2){
    border-top: 1px solid #E1E8EE;
    border-bottom: 1px solid #E1E8EE;
} */
.buttons{
    position: relative;
    padding-top: 30px;
    margin-right: 60px;
}
.buttons span{
    margin-right: 5px;
}
.delete-btn{
    display: inline-block;
    Cursor: pointer;
    width: 18px;
    height: 17px;
}
.add-btn{
    display: inline-block;
    Cursor: pointer;
    width:18px;
    height:17px;
  
}
/*
.is-active {
animation-name: animate;
animation-duration: .8s;
animation-iteration-count: 1;
animation-timing-function: steps(28);
animation-fill-mode: forwards;
}
   
@keyframes animate {
    0%   { background-position: left;  }
    50%  { background-position: right; }
    100% { background-position: right; }
}*/
.image {
    margin-right: 50px;
}
   
.description {
    padding-top: 10px;
    margin-right: 60px;
    width: 115px;
}

.description span {
    display: block;
    font-size: 14px;
    color: #43484D;
    font-weight: 400;
}
   
.description span:first-child {
    margin-bottom: 5px;
}
.description span:last-child {
    font-weight: 300;
    margin-top: 8px;
    color: #86939E;
}
.quantity {
    padding-top: 20px;
    margin-right: 60px;
  }
.quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
}
   
button[class*=btn] {
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

/* .minus-btn img {
    margin-bottom: 3px;
}
.plus-btn img {
    margin-top: 2px;
} */
   
button:focus,input:focus {
    outline:0;
}

.total-price {
    width: 83px;
    padding-top: 27px;
    text-align: center;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
}

@media (max-width: 800px) {
.shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.product {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
}
.image img {
    width: 80%;
    height: 80%;

}
.image,.quantity,.description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
}
.buttons {
    margin-right: 20px;
}
}
.topnav {
    overflow: hidden;
    background-color: #FFC27F;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #411f2d;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
  }
  
  .topnav a:hover {
    background-color: #FFE29A;
    color: black;
  }
  
  .active {
    background-color: #FFC27F;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
.lefttitle{
    float:left;
    margin: 6px 2px;

}
.righttitle {
    display: block;
    cursor: pointer;
    float: right;
    margin: 0 2px;
}


.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

