.boldtext{
    font-weight: bolder;
}
.buttons{
    position: relative;
    padding-top: 30px;
    margin-right: 60px;
}
.delete-btn{
    display: inline-block;
    Cursor: pointer;
    width: 18px;
    height: 17px;
}
.add-btn{
    display: inline-block;
    Cursor: pointer;
    width:18px;
    height:17px;
  
}
button[class*=btn] {
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}
button:focus,input:focus {
    outline:0;
}
.quantity{
    padding-top: 20px;
    margin-right: 60px;
}
.quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
}
@media (max-width: 800px){
    .buttons {
        margin-right: 20px;
    }
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 3px solid lightcoral;
    border-radius: 2px;
    width: 80%;
    
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
hr {
    border: 1px solid lightcoral;
}
span.price {
    float: right;
    color:lightgrey;
}